<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Maven Enterprise</display-name>

  <listener>
    <listener-class>org.codehaus.plexus.xwork.PlexusLifecycleListener</listener-class>
  </listener>


  <servlet>
    <servlet-name>repository</servlet-name>
    <servlet-class>org.apache.maven.enterprise.web.EnterpriseWebDavServlet</servlet-class>
    <init-param>
      <param-name>dav.root</param-name>
      <param-value>repository</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>snapshot</servlet-name>
    <servlet-class>org.apache.maven.enterprise.web.EnterpriseWebDavServlet</servlet-class>
    <init-param>
      <param-name>dav.root</param-name>
      <param-value>snapshot</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>site</servlet-name>
    <servlet-class>org.apache.maven.enterprise.web.EnterpriseSiteWebDavServlet</servlet-class>
    <init-param>
      <param-name>dav.root</param-name>
      <param-value>site</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>idisk</servlet-name>
    <servlet-class>org.apache.maven.enterprise.web.EnterpriseIDiskWebDavServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>repository</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>snapshot</servlet-name>
    <url-pattern>/snapshot/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/site/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>idisk</servlet-name>
    <url-pattern>/idisk/*</url-pattern>
  </servlet-mapping>

</web-app>
