<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set( $jira = $xmlrpc.connect("swizzletester:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )
#set( $project = $jira.getProject( "MNG" ) )        
#set( $url = "http://jira.codehaus.org/secure/IssueNavigator.jspa?view=rss&reset=true&mode=hide&pid=${project.id}&resolution=-1&sorter/field=updated&sorter/order=DESC" ) 
#set( $jirarss = $rss.fetch( $url ) )
#set( $issues = $jirarss.issues )
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MNG Votes on Jira Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />                                                
  </head>
  <body>
    <h1><a href="http://jira.codehaus.org/browse/MNG">Maven 2 Issues on Jira</a> sorted by descending vote count</h1>
    <table align="center">
	  <tr>
		<th>Votes</th>
		<th>Key</th>
		<th>Summary</th>
	  </tr>
      #foreach ( $issue in $issues.descending("votes") )
	  <tr>
		<td>$issue.votes</td>
		<td><a href="http://jira.codehaus.org/browse/$issue.key">$issue.key</a></td>
		<td>$issue.summary</td>
	  </tr>
      #end
	</table>
  </body>
</html>