<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set( $jira = $xmlrpc.connect("swizzletester:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )
#set( $project = $jira.getProject( "MNG" ) )        
#set( $url = "http://jira.codehaus.org/secure/IssueNavigator.jspa?view=rss&reset=true&mode=hide&pid=${project.id}&resolution=-1&sorter/field=updated&sorter/order=DESC" ) 
#set( $jirarss = $rss.fetch( $url ) )
#set( $issues = $jirarss.issues )
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Votes on MNG issues in Jira</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<style type="text/css">
	<!--
	body {
		font-family: Arial, Helvetica, sans-serif;
	}
	th {
		color: #FFFFFF;
		background-color: #333333;
		padding: 5px;
	}
	td {
		background-color: #CCCCCC;
		padding: 3px;
	}
	table {
	}
	a:link {
		color: #003333;
		text-decoration: none;
	}
	a:visited {
		color: #003333;
		text-decoration: none;
	}
	a:hover {
		color: #0033CC;
	}
	a:active {
		color: #0033CC;
	}
	-->
	</style>                                                                                          
  </head>
  <body>
    <h1><a href="http://jira.codehaus.org/browse/MNG">Votes on MNG issues in Jira</a> sorted by descending vote count</h1>
    <table>
	  <tr>
		<th>Votes</th>
		<th>Key</th>
		<th>Summary</th>
	  </tr>
      #foreach ( $issue in $issues.descending("votes") )
	  <tr>
		<td>$issue.votes</td>
		<td><a href="http://jira.codehaus.org/browse/$issue.key">$issue.key</a></td>
		<td>$issue.summary</td>
	  </tr>
      #end
	</table>
  </body>
</html>