body {
  margin: 0;
  background-color: #ffffcc;
  font-family: helvetica, serif;
}

#body {
  width: 740px;
  margin-left: 50px;
  margin-right: auto;
}

#header {
  padding: 5px;
  background-color: #333399;
  color: #ffcc33;
}

#content {
  padding: 5px;
  background-color: #cccccc;
  border-left: 2px solid #333399;
  border-right: 2px solid #333399;
}

#footer {
  clear: both;
  padding: 5px;
  background-color: #333399;
}

a {
  color: #333399;
}