## Things that are missing in order for this to work
## - need to know what the dev mailing list is, the mailing lists are just an uncategorized list
## - Web accessible face to the distributionManagement.repository element
## - REST URL for issue management system, might need project IDs

#set( $projectKey = "PROJECT_KEY" )
#set( $projectVersion = "PROJECT_VERSION" )

#set( $jira = $xmlrpc.connect("swizzletester:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )
#set( $project = $jira.getProject($projectKey) )
#set( $version = $jira.getVersion( $project, $projectVersion) )
#set( $url = "http://jira.codehaus.org/secure/IssueNavigator.jspa?view=rss&&pid=${project.id}&fixfor=${version.id}&tempMax=500&reset=true&decorator=none" )
#set( $issues = $rss.fetch($url).issues )

From: ${project.devMailingList}
Subject: [VOTE] Release $project.name [$projectVersion]
To: ${project.devMailingList}

Issues Resolved for $project.name [$projectVersion]:

#foreach( $issue in $issues.sort("id").sort("priority") )
[$issue.key] $issue.summary
#end

Deployed to:

$project.distributionManagement.repositoryUrl/$project.groupId/$projectVersion/

Documentation:

$project.distributionManagement.siteUrl

Usage:

You can can try this plugin by using "mvn -U foo".
